.light-button {
  text-transform: none;
  color: #775ce5;
  font-weight: normal;
  font-size: 14px;
}

.logout-button {
  text-transform: none;
  color: #f23152;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #f23152;
}

.header-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.field__icon {
  display: block;
  height: 20px;
  width: 24px;

  background-image: url("/public/svg/password-hide.svg");
  background-size: cover;
}

.field__icon.show {
  background-image: url("/public/svg/password-show.svg");
}

.field__icon,
.field__icon.show {
  position: absolute;
  right: 16px;
  top: calc(50% - 10px);
}

.title-small {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

#no-padding {
  padding: 20px 135px;
}

.divider {
  border-top: 1px solid #e9e8eb;
  margin: 10px 0;
}
